In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

In [28]:
import sklearn
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import KBinsDiscretizer

In [19]:
dataset = pd.read_csv(R'/content/drive/MyDrive/dataset/winequalityN.csv')

In [20]:
print(dataset.head())
print(dataset.info())
print(dataset.describe())

    type  fixed acidity  volatile acidity  ...  sulphates  alcohol  quality
0  white            7.0              0.27  ...       0.45      8.8        6
1  white            6.3              0.30  ...       0.49      9.5        6
2  white            8.1              0.28  ...       0.44     10.1        6
3  white            7.2              0.23  ...       0.40      9.9        6
4  white            7.2              0.23  ...       0.40      9.9        6

[5 rows x 13 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   type                  6497 non-null   object
 1   fixed acidity         6487 non-null   float64
 2   volatile acidity      6489 non-null   float64
 3   citric acid           6494 non-null   float64
 4   residual sugar        6495 non-null   float64
 5   chlorides             6495 non-null   float64
 6   free sulfur dioxide   6497 non-null   float64
 7   total sulfur dioxide  6497 non-null   float64
 8   density               6497 non-null   float64
 9   pH                    6488 non-null   float64
 10  sulphates             6493 non-null   float64
 11  alcohol               6497 non-null   float64
 12  quality               6497 non-null   int64
dtypes: float64(11), int64(1), object(1)
memory usage: 660.0+ KB
None
       fixed acidity  volatile acidity  ...      alcohol      quality
count    6487.000000       6489.000000  ...  6497.000000  6497.000000
mean        7.216579          0.339691  ...    10.491801     5.818378
std         1.296750          0.164649  ...     1.192712     0.873255
min         3.800000          0.080000  ...     8.000000     3.000000
25%         6.400000          0.230000  ...     9.500000     5.000000
50%         7.000000          0.290000  ...    10.300000     6.000000
75%         7.700000          0.400000  ...    11.300000     6.000000
max        15.900000          1.580000  ...    14.900000     9.000000

[8 rows x 12 columns]

In [21]:
dataset.isnull().any()

type                    False
fixed acidity            True
volatile acidity         True
citric acid              True
residual sugar           True
chlorides                True
free sulfur dioxide     False
total sulfur dioxide    False
density                 False
pH                       True
sulphates                True
alcohol                 False
quality                 False
dtype: bool

In [22]:
dataset['fixed acidity'].fillna(dataset['fixed acidity'].mean(),inplace = True)
dataset['volatile acidity'].fillna(dataset['volatile acidity'].mean(),inplace = True)
dataset['citric acid'].fillna(dataset['citric acid'].mean(),inplace = True)
dataset['residual sugar'].fillna(dataset['residual sugar'].mean(),inplace = True)
dataset['chlorides'].fillna(dataset['chlorides'].mean(),inplace = True)
dataset['pH'].fillna(dataset['pH'].mean(),inplace = True)
dataset['sulphates'].fillna(dataset['sulphates'].mean(),inplace = True)

In [23]:
dataset.isnull().any()

type                    False
fixed acidity           False
volatile acidity        False
citric acid             False
residual sugar          False
chlorides               False
free sulfur dioxide     False
total sulfur dioxide    False
density                 False
pH                      False
sulphates               False
alcohol                 False
quality                 False
dtype: bool

In [25]:
lb = LabelEncoder()
dataset['type'] = lb.fit_transform(dataset['type'])

In [26]:
dataset.head()

   type  fixed acidity  volatile acidity  ...  sulphates  alcohol  quality
0     1            7.0              0.27  ...       0.45      8.8        6
1     1            6.3              0.30  ...       0.49      9.5        6
2     1            8.1              0.28  ...       0.44     10.1        6
3     1            7.2              0.23  ...       0.40      9.9        6
4     1            7.2              0.23  ...       0.40      9.9        6

[5 rows x 13 columns]

In [27]:
for_norm=dataset
for_std=dataset

In [31]:
sc = StandardScaler()
for_std = sc.fit_transform(for_std)
for_std

array([[ 0.57136659, -0.1671586 , -0.4235636 , ..., -0.5459591 ,
        -1.41855821,  0.20799905],
       [ 0.57136659, -0.70742728, -0.24123152, ..., -0.27706392,
        -0.83161516,  0.20799905],
       [ 0.57136659,  0.68183504, -0.36278624, ..., -0.6131829 ,
        -0.32852111,  0.20799905],
       ...,
       [-1.75018984, -0.70742728,  1.03509307, ...,  1.47075478,
         0.42611996,  0.20799905],
       [-1.75018984, -1.01615224,  1.85558744, ...,  1.2018596 ,
        -0.2446721 , -0.93722961],
       [-1.75018984, -0.938971  , -0.18045416, ...,  0.86574062,
         0.42611996,  0.20799905]])

In [38]:
for_norm=preprocessing.normalize(for_norm)
pd.DataFrame(for_norm,columns=dataset.columns)

          type  fixed acidity  volatile acidity  ...  sulphates   alcohol   quality
0     0.005632       0.039423          0.001521  ...   0.002534  0.049561  0.033792
1     0.007495       0.047218          0.002248  ...   0.003673  0.071202  0.044970
2     0.009725       0.078773          0.002723  ...   0.004279  0.098224  0.058351
3     0.005193       0.037393          0.001194  ...   0.002077  0.051415  0.031161
4     0.005193       0.037393          0.001194  ...   0.002077  0.051415  0.031161
...        ...            ...               ...  ...        ...       ...       ...
6492  0.000000       0.110445          0.010688  ...   0.010332  0.187044  0.089069
6493  0.000000       0.089589          0.008352  ...   0.008066  0.170067  0.091107
6494  0.000000       0.122232          0.009895  ...   0.014551  0.213421  0.116411
6495  0.000000       0.105248          0.011506  ...   0.012665  0.181954  0.089193
6496  0.000000       0.124913          0.006454  ...   0.013740  0.229008  0.124913

[6497 rows x 13 columns]

In [42]:
dis = preprocessing.KBinsDiscretizer(n_bins=8, encode='ordinal',strategy='quantile')
x=dis.fit_transform(dataset)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_discretization.py:197: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 0 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_discretization.py:197: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 12 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)

In [45]:
pd.DataFrame(x,columns=dataset.columns)

      type  fixed acidity  volatile acidity  ...  sulphates  alcohol  quality
0      7.0            2.0               1.0  ...        1.0      0.0      4.0
1      7.0            1.0               1.0  ...        1.0      1.0      4.0
2      7.0            2.0               1.0  ...        0.0      2.0      4.0
3      7.0            2.0               0.0  ...        0.0      2.0      4.0
4      7.0            2.0               0.0  ...        0.0      2.0      4.0
...    ...            ...               ...  ...        ...      ...      ...
6492   0.0            1.0               2.0  ...        1.0      2.0      2.0
6493   0.0            1.0               2.0  ...        1.0      3.0      4.0
6494   0.0            1.0               2.0  ...        2.0      3.0      4.0
6495   0.0            1.0               3.0  ...        2.0      2.0      2.0
6496   0.0            1.0               1.0  ...        1.0      3.0      4.0

[6497 rows x 13 columns]

In [46]:
dis = preprocessing.KBinsDiscretizer(n_bins=8, encode='ordinal',strategy='uniform')
x=dis.fit_transform(dataset)
pd.DataFrame(x,columns=dataset.columns)

      type  fixed acidity  volatile acidity  ...  sulphates  alcohol  quality
0      7.0            2.0               1.0  ...        1.0      0.0      4.0
1      7.0            1.0               1.0  ...        1.0      1.0      4.0
2      7.0            2.0               1.0  ...        0.0      2.0      4.0
3      7.0            2.0               0.0  ...        0.0      2.0      4.0
4      7.0            2.0               0.0  ...        0.0      2.0      4.0
...    ...            ...               ...  ...        ...      ...      ...
6492   0.0            1.0               2.0  ...        1.0      2.0      2.0
6493   0.0            1.0               2.0  ...        1.0      3.0      4.0
6494   0.0            1.0               2.0  ...        2.0      3.0      4.0
6495   0.0            1.0               3.0  ...        2.0      2.0      2.0
6496   0.0            1.0               1.0  ...        1.0      3.0      4.0

[6497 rows x 13 columns]